body{
    background-color: #57EDF6;
    color:yellow;
}

h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img{
    margin-left:5rem;
    border: 3px solid white;
    border-radius: 100px;
}

.secondItemList{
    color:red;
}

#firstParagraph{
    color:red;
    font-size:20px;
    font-weight: bold;
}

#secondParagraph{
    color:green;
}

#thirdParagraph{
    color:orange;
}